
body{
    background-color: rgb(255, 255, 255);
}

ul {
    list-style-type: none;
}

#btn{
    background-color: blue;
    border-radius: 5px;
}

#titlename{
    font-family: 'Kanit';
    text-align: center;
}

#titlename:hover{
    color: rgb(67, 59, 11);
    text-shadow: 1px 1px 2px black;

}

#msgbtn{
    font-size: 17px;
    padding: 0.5em 2em;
    border: transparent;
    box-shadow: 2px 2px 4px rgba(0,0,0,0.4);
    background: rgb(63, 25, 1);
    color: white;
    border-radius: 4px;font-size: 17px;
    padding: 0.5em 2em;
    
    
}

#msgbtn:hover{
    background: rgb(2,0,36);
    border: 1px solid yellow;
    
}

button:active{
    transform: translate(0em, 0.2em);
}


.messagebox{
    background-color: rgb(11, 97, 227);
    color: white;
    font-family: 'Rubik';
    padding: 3px;
    margin-top: 10px;
    border-radius: 10px;
    border: 1px solid wheat;
    margin-bottom: 25px;
    width: 50%;
    box-shadow: 3px 2px rgba(1, 1, 1, 0.777);
}

#openbtn{
    border: none;
    outline: none;
    background-color: rgba(0, 0, 0, 0.777);
    padding: 10px 20px;
    font-size: 12px;
    font-weight: 700;
    color: #fff;
    border-radius: 5px;
    transition: all ease 0.1s;
    box-shadow: 0px 5px 0px 0px #fedd9b;
    margin-left: 15px;
    margin-bottom: 15px;
}

button:active {
    transform: translateY(5px);
    box-shadow: 0px 0px 0px 0px #a29bfe;
  }


#backbtn{
    background-color: blue;
}


.label{
    font-family: 'Rubik';
}


.msgBox{
    margin-top: 5px;
    width: 40%;
    height: 100px;
    padding: 10px;
    background-color: #d0e2bc;
    color: black;
    border-radius: 4px;
    font-family: 'Rubik';
}


.userNameBox{
    padding: 12px;
    border: 1px solid #ccc;
    border-radius: 4px;
    background-color: #d0e2bc;
    box-sizing: border-box;
    resize: vertical;
    font-family: 'Rubik';
}

.submitbtn{
    border: none;
    outline: none;
    background-color: rgba(204, 103, 8, 0.777);
    padding: 10px 20px;
    font-size: 12px;
    font-weight: 700;
    color: #fff;
    border-radius: 5px;
    transition: all ease 0.1s;
    box-shadow: 0px 5px 0px 0px #620707;
    margin-left: 5px;
    margin-bottom: 15px;
    margin-top: 15px;
}